<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="star.sky.another.dao.FollowMapper">
    <resultMap id="BaseResultMap" type="star.sky.another.model.entity.Follow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="follow_id" jdbcType="BIGINT" property="followId"/>
        <result column="follow_nick_name" jdbcType="VARCHAR" property="followNickName"/>
        <result column="follow_image" jdbcType="VARCHAR" property="followImage"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from follow
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="star.sky.another.model.entity.Follow">
        insert into follow (id, user_id, follow_id,
                            follow_nick_name, follow_image)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{followId,jdbcType=BIGINT},
                #{followNickName,jdbcType=VARCHAR}, #{followImage,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="star.sky.another.model.entity.Follow">
        update follow
        set user_id          = #{userId,jdbcType=BIGINT},
            follow_id        = #{followId,jdbcType=BIGINT},
            follow_nick_name = #{followNickName,jdbcType=VARCHAR},
            follow_image     = #{followImage,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, user_id, follow_id, follow_nick_name, follow_image
        from follow
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, user_id, follow_id, follow_nick_name, follow_image
        from follow
    </select>
    <select id="selectFollower" parameterType="java.lang.Long" resultType="java.lang.Long">
        select follow_id
        from follow
        where user_id = #{userId}
    </select>
    <select id="selectFollowByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, user_id, follow_id, follow_nick_name, follow_image
        from follow
        where follow_id = #{userId}
    </select>
    <delete id="deleteByUserIdAndFollowId" parameterType="java.lang.Long">
        delete
        from follow
        where user_id = #{userId}
          and follow_id = #{followId}
    </delete>
</mapper>