<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="star.sky.another.dao.PersonalMessageMapper">
  <resultMap id="BaseResultMap" type="star.sky.another.model.entity.PersonalMessage">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="sender_id" jdbcType="BIGINT" property="senderId" />
    <result column="sender_nick_name" jdbcType="VARCHAR" property="senderNickName" />
    <result column="sender_image" jdbcType="VARCHAR" property="senderImage" />
    <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
    <result column="receiver_nick_name" jdbcType="VARCHAR" property="receiverNickName" />
    <result column="receiver_image" jdbcType="VARCHAR" property="receiverImage" />
    <result column="sending_time" jdbcType="TIMESTAMP" property="sendingTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from personal_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="star.sky.another.model.entity.PersonalMessage">
    insert into personal_message (id, sender_id, sender_nick_name, 
      sender_image, receiver_id, receiver_nick_name, 
      receiver_image, sending_time, content
      )
    values (#{id,jdbcType=BIGINT}, #{senderId,jdbcType=BIGINT}, #{senderNickName,jdbcType=VARCHAR}, 
      #{senderImage,jdbcType=VARCHAR}, #{receiverId,jdbcType=BIGINT}, #{receiverNickName,jdbcType=VARCHAR}, 
      #{receiverImage,jdbcType=VARCHAR}, #{sendingTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="star.sky.another.model.entity.PersonalMessage">
    update personal_message
    set sender_id = #{senderId,jdbcType=BIGINT},
      sender_nick_name = #{senderNickName,jdbcType=VARCHAR},
      sender_image = #{senderImage,jdbcType=VARCHAR},
      receiver_id = #{receiverId,jdbcType=BIGINT},
      receiver_nick_name = #{receiverNickName,jdbcType=VARCHAR},
      receiver_image = #{receiverImage,jdbcType=VARCHAR},
      sending_time = #{sendingTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, sender_id, sender_nick_name, sender_image, receiver_id, receiver_nick_name, 
    receiver_image, sending_time, content
    from personal_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sender_id, sender_nick_name, sender_image, receiver_id, receiver_nick_name, 
    receiver_image, sending_time, content
    from personal_message
  </select>
</mapper>